		<!---------------------------------------------------->	

		<div class="content-container" id="about" style="display:none;">
		<div id="seperator">
			
		</div>
        <div class="page-name">
            <span>ABOUT</span>
        </div>
        
		<div id="seperator"></div>
		<div id="seperator"></div>
		
        <div class="menu-line">
            <span class="menu-item">ADI ELDAR</span>
			<span class="menu-item">ITAI VENTURA</span>
        </div>
        <div class="menu-line">
            <span class="menu-item">DAN TAVORI</span>
			<span class="menu-item">YUVAL BARAK</span>
        </div>
		<div class="menu-line"></div>
        
		</div>
		
		<!---------------------------------------------------->
