		<!---------------------------------------------------->
		<div class="content-container" id="game-over" style="display:none">
			<div id="seperator"></div>
		
			<div class="page-name">
				<span id="game-end-maessage">GAME OVER!</span>
			</div>
			
			<div id="seperator">
				<span class="level-item" id="artist" onclick="new_game()">New Game</span>
			</div>
			<div id="seperator"></div>
			
			<div class="menu-line">
				<span class="message unvisible" id="artist" >ARTISTS</span>
				<span class="message unvisible" id="albums">ALBUMS</span>
			</div>
			<div class="menu-line">
				<span class="message" id="genres" >GENRES</span>
				<span class="message" id="movies" >MOVIES</span>
			</div>
			<div class="menu-line">
				<span class="message" id="songs" >SONGS</span>
				<span class="message" id="reset" >SWITCH</span>
			</div>
			</div>
			<!---------------------------------------------------->
