		<!---------------------------------------------------->
		<div class="content-container" id="game-over" style="display:none">
			<div id="seperator"></div>
		
			<div class="page-name">
				<span id="game-end-maessage">GAME OVER!</span>
			</div>
			
			<div id="seperator">
				<span class="level-item" id="artist" onclick="new_game()">New Game</span>
			</div>
			<div id="seperator"></div>
			
			<div class="menu-line">
				<span class="message unvisible">ARTISTS</span>
				<span class="message unvisible" id="albums">ALBUMS</span>
			</div>
			<div class="menu-line">
				<span class="message" id="mirror_a" >A. {{ answer_a }}</span>
				<span class="message" id="mirror_b" >B. {{ answer_b }}</span>
			</div>
			<div class="menu-line">
				<span class="message" id="mirror_c" >C. {{ answer_c }}</span>
				<span class="message" id="mirror_d" >D. {{ answer_d }}</span>
			</div>
			</div>
			<!---------------------------------------------------->
