		<!---------------------------------------------------->
		
		
		<div class="content-container" id="instructions" style="display:none;">
		
            <div id="seperator"></div>
            
            <div class="page-name-classic">
                <span>INSTUCTIONS</span>
            </div>
            
            <div id="seperator"></div>
            <div id="seperator"></div>
            
            <div class="instructions-container">
                <span class="instructions-classic">
                <p class="instructions-text">
                Welcome to the X-FACT Game, A trivia game about music!
                </p>
                <p class="instructions-text">
                To start, choose 'new game' from the menu.
                </p>
                <p class="instructions-text">
                You have 30 seconds to choose one out of 4 answers.
                </p>
                <p class="instructions-text">
                If your answer is wrong the game is over.
                6 correct answers give you the $1,000,000 prize!
                </p>
                <!--<p class="instructions-text">
                Use lifelines smartly.
                </p>-->
                <p class="instructions-text">
                Have fun!
                </p>
                </span>
            </div>
            
            
            <div class="menu-line-classic"><!--play now button--></div>
            <div class="menu-line-classic"></div>
            
            </div>
            <!---------------------------------------------------->	
    