<div class="content-container" id="menu" style="display:none;">
    <div id="seperator">
        
    </div>
    <div class="page-name">
        <span>MENU</span>
    </div>
    
    <div id="seperator"></div>
    <div id="seperator"></div>
    
    <div class="menu-line">
        <span class="menu-item hoverable" onclick="new_game()">NEW GAME</span>
        <span class="menu-item hoverable" onclick="change_page('level')">LEVEL</span>
    </div>
    <div class="menu-line">
        <span class="menu-item hoverable" onclick="change_page('instructions')">INSTUCTIONS</span>
        <span class="menu-item hoverable" onclick="change_page('themes')">THEMES</span>
    </div>
    <div class="menu-line">
        <span class="menu-item hoverable" onclick="change_page('about')">ABOUT</span>
        <span class="menu-item hoverable" onclick="change_page('topics')">TOPICS</span>
    </div>
    
    </div>
    
    <!---------------------------------------------------->
