<div class="content-container" id="themes" style="display:none;">
		<div id="seperator"></div>
		
        <div class="page-name">
            <span>THEME</span>
        </div>
        
		<div id="seperator"></div>
		<div id="seperator"></div>
		
        <div class="menu-line">
            <span class="menu-item" >CLASSIC</span>
			<span class="menu-item" >SIMPLE</span>
        </div>
        <div class="menu-line">
            <span class="menu-item" >BLUE</span>
			<span class="menu-item">GREEN</span>
        </div>
		<div class="menu-line">
            <span class="menu-item" >LEMON</span>
			<span class="menu-item">GRASS</span>
        </div>
        
		</div>
		
		<!---------------------------------------------------->
		