<div class="content-container" id="themes" style="display:none;">
		<div id="seperator"></div>
		
        <div class="page-name-classic">
            <span>THEME</span>
        </div>
        
		<div id="seperator"></div>
		<div id="seperator"></div>
		
        <div class="menu-line-classic">
            <span class="menu-item-classic hoverable" onclick="change_theme('classic')">CLASSIC</span>
			<span class="menu-item-classic hoverable" onclick="change_theme('test')">SIMPLE</span>
        </div>
        <div class="menu-line-classic">
            <span class="menu-item-classic unvisible" >BLUE</span>
			<span class="menu-item-classic unvisible">GREEN</span>
        </div>
		<div class="menu-line-classic">
            <span class="menu-item-classic unvisible" >LEMON</span>
			<span class="menu-item-classic unvisible">GRASS</span>
        </div>
        
		</div>
		
		<!---------------------------------------------------->
		