


<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main-classic.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/game-classic.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/links-classic.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/misc.css') }}">

<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/messages-classic.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/menu-classic.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/level-classic.css') }}">

<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/instructions-classic.css') }}">
<!-------------------------------------->
<!-------------------------------------->

<!-------------------------------------->
<!-------------------------------------->
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/instructions-test.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/main-test.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/game-test.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/links-test.css') }}">

<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/messages-test.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/menu-test.css') }}">
<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/test/level-test.css') }}">


<!-------------------------------------->
<!-------------------------------------->


