	<div class="content-container" id="level" style="display:none;">
		<div id="seperator"></div>
		
        <div class="page-name-classic">
            <span>LEVEL</span>
        </div>
        
		<div id="seperator"></div>
		<div id="seperator"></div>
		
		<div class="menu-line-classic">
		<span class="level-item-classic" id="hard" onclick="choose_level('hard')" onmouseover="set_hover()" onmouseout="unset_hover()">B.Sc in CS in TAU</span>
		</div>
        <div class="menu-line-classic">
			<span class="level-item-classic" id="medium" onclick="choose_level('medium')">SUPER HARD</span></div>
        <div class="menu-line-classic">
			<span class="level-item-classic" id="easy" onclick="choose_level('easy')">EASY</span></div>
        
		</div>
		
		<!---------------------------------------------------->
	