<!---------------------------------------------------->
		
		<div class="content-container" id="topics" style="display:none;">
		<div id="seperator"></div>
		
        <div class="page-name-classic">
            <span>TOPICS</span>
        </div>
        
		<div id="seperator"></div>
		<div id="seperator"></div>
		
        <div class="menu-line-classic">
            <span class="level-item-classic topic" id="artist" onclick="choose_topic('artist')">ARTISTS</span>
			<span class="level-item-classic topic" id="albums" onclick="choose_topic('albums')">ALBUMS</span>
        </div>
        <div class="menu-line-classic">
            <span class="level-item-classic topic" id="genres" onclick="choose_topic('genres')">GENRES</span>
			<span class="level-item-classic topic" id="movies" onclick="choose_topic('movies')">MOVIES</span>
        </div>
		<div class="menu-line-classic">
            <span class="level-item-classic topic" id="songs" onclick="choose_topic('songs')">SONGS</span>
			<span class="level-item-classic" id="reset" onclick="reset_topic()">SWITCH</span>
        </div>
        
		</div>
		
		<!---------------------------------------------------->
		